body {
  background-color: rgb(236, 236, 236);
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(230, 112, 2);
  width: 100%;
  height: 6rem;
  color: white;
}

.sub-container {
  display: flex;
}

.divider {
  margin: 1rem;
  border-right: white solid 1px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.h-text-l {
  font-size: 5rem;
  padding: 0 0 0 1rem;
}

.h-text-m {
  font-size: 1.5rem;
}

.directories {
  margin-right: 5rem;
}

.align-center {
  align-self: center;
}

.sub-container-2 {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.search {
  border-radius: 7px;
  border: none;
  height: 1.2rem;
  padding-left: 1rem;
}

.content {
  display: flex;
  place-content: center;
  padding-top: 5rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  width: 45rem;
  height: 18rem;
  border-radius: 15px;
  text-align: center;
  padding: 1.5rem;
  background-color: white;
}

.login-header {
  font-size: 3rem;
}

.login-feilds {
  flex-direction: column;
  text-align: left;
  padding: 1.5rem 5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.login-button {
  margin-top: 1.5rem;
  width: 10rem;
  height: 3rem;
  align-self: center;
  border-radius: 10px;
  outline: none;
  background-color: rgb(230, 112, 2);
  color: white;
  border: none;
  user-select: none;
}

.logout-button {
  border-radius: 5px;
  border: none;
  align-self: center;
  outline: none;
  padding: 3px 10px;
}

.assessment-button {
  margin-top: 1.5rem;
  width: 10rem;
  height: 3rem;
  align-self: center;
  border-radius: 10px;
  outline: none;
  background-color: rgb(230, 112, 2);
  color: white;
  border: none;
  user-select: none;
}

.checkbox {
  vertical-align: bottom;
}

.home-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.assessment-content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.questions {
  margin: 0.25rem 0;
}

.sub-header {
  background-color: rgb(42, 42, 42);
  width: 100%;
  height: 2rem;
  color: white;
  display: flex;
  place-content: space-evenly;
  align-items: center;
}

.logout-container {
  display: flex;
  place-content: flex-end;
  margin-bottom: 0.5rem;
}

.sub-header-button {
  background-color: rgb(42, 42, 42);
  color: white;
  border: none;
}
.login-container1 {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  width: 30rem;
  height: auto;
  border-radius: 20px;
  text-align: left;
  padding: 2rem;
  background-color: white;
}

.assessment-button1 {
  margin-top: 1.5rem;
  width: 10rem;
  height: 3rem;
  align-self: center;
  border-radius: 10px;
  outline: none;
  background-color: rgb(230, 112, 2);
  color: white;
  border: none;
  user-select: none;
}

.login-container2 {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  width: 45rem;
  height: 25rem;
  border-radius: 20px;
  text-align: left;
  padding: 2rem;
  background-color: white;
}
.login-container3 {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  width: 25rem;
  height: 31.5rem;
  border-radius: 20px;
  text-align: left;
  padding: 2rem;
  background-color: white;
}

.eventOptions {
  width: 17rem;
}

.courseOptions {
}

.workOptions {
}
